html
  head
    title Settings - JSBrowser
    link(rel='stylesheet', href='/css/home.css')
  body(onload="startTab();")
  div(class="hr" id="hr")
    div(class="usernameBox" id="username")= username
    div(class="backButton" onclick="location.href='home'" height="60" width="60" id="back" onmouseenter="backEnter();" onmouseleave="backLeave();")='≪'
      div(class="welcome" id="welcome")= 'JSBrowser'
        form(action="login" method="GET")
          button(class="logoutButton" id="logout" onmouseenter="logoutEnter(); backFake();" onmouseleave="logoutLeave();")= 'Logout'
        form(action="lightmode" method="POST")
          input(type="hidden" name="page" value="settings")
          button(class="lightmodeButton" id="light" onmouseenter="backFake();")= 'Light Mode'
        form(action="darkmode" method="POST")
          input(type="hidden" name="page" value="settings")
          button(class="darkmodeButton" id="dark" onmouseenter="backFake();")= 'Dark Mode'
      p(style="visibility:hidden" id="darkmode")=darkmode
      script.
        if (document.getElementById("darkmode").innerHTML == "true") {
          console.log("Darkmode: true");
          document.getElementById("dark").style.visibility = "hidden";
          document.getElementById("light").style.visibility = "visible";
          document.body.style.background = "#2C2F33";
          document.getElementById('hr').style.backgroundColor = "#23272A";
          document.getElementById('hr').style.borderColor = "#2c3236";
          document.getElementById('welcome').style.color = "#99AAB5";
          document.getElementById('username').style.color = "#99AAB5";
          document.getElementById('back').style.color = "#99AAB5";
        }
        if (document.getElementById("darkmode").innerHTML == "false") {
          console.log("Darkmode: false");
          document.getElementById("dark").style.visibility = "visible";
          document.getElementById("light").style.visibility = "hidden";
        }
        function backEnter() {
            document.getElementById("back").style.color = "#7289DA";
            document.getElementById("welcome").style.color = "#7289DA";
        }
        function backLeave() {
          if (document.getElementById("darkmode").innerHTML == "true") {
            document.getElementById("back").style.color = "#99AAB5";
            document.getElementById("welcome").style.color = "#99AAB5";
          } else {
            document.getElementById("back").style.color = "#004869";
            document.getElementById("welcome").style.color = "#004869";
          }
        }
        function backFake() {
          if (document.getElementById("darkmode").innerHTML == "true") {
            document.getElementById('back').style.color = "#99AAB5";
            document.getElementById('welcome').style.color = "#99AAB5";
          } else {
            document.getElementById("back").style.color = "#004869";
            document.getElementById("welcome").style.color = "#004869";
          }
        }
        function logoutEnter() {
          if (document.getElementById("darkmode").innerHTML == "true") {
            document.getElementById("logout").style.color = "#23272A";
          } else {
            document.getElementById("logout").style.color = "#f2f2f2";
          }
        }
        function logoutLeave() {
          document.getElementById("logout").style.color = "#f54242";
        }
        function startTab() {
          if (document.getElementById("darkmode").innerHTML == "true") {
            document.getElementById("tab1").style.borderBottomColor = "#23272A";
          } else {
            document.getElementById("tab1").style.borderBottomColor = "#ebebeb";
          }
        }
        function tab(x) {
          let borderColor;
          let clearColor;
        if (document.getElementById("darkmode").innerHTML == "true") {
          borderColor = "#2c3236";
          clearColor = "#23272A";
        } else {
          borderColor = "#004869";
          clearColor = "#ebebeb";
        }
          document.getElementById("tab" + x).style.borderBottomColor = clearColor;
        if (x == 1) {
          document.getElementById("tab2").style.borderBottomColor = borderColor;
          document.getElementById("tab3").style.borderBottomColor = borderColor;
          document.getElementById("tab4").style.borderBottomColor = borderColor;
        } else if (x == 2) {
          document.getElementById("tab1").style.borderBottomColor = borderColor;
          document.getElementById("tab3").style.borderBottomColor = borderColor;
          document.getElementById("tab4").style.borderBottomColor = borderColor;
        } else if (x == 3) {
          document.getElementById("tab1").style.borderBottomColor = borderColor;
          document.getElementById("tab2").style.borderBottomColor = borderColor;
          document.getElementById("tab4").style.borderBottomColor = borderColor;
        } else if (x == 4) {
          document.getElementById("tab1").style.borderBottomColor = borderColor;
          document.getElementById("tab2").style.borderBottomColor = borderColor;
          document.getElementById("tab3").style.borderBottomColor = borderColor;
        } 
        }
        
        
        
        
        

  div(class="bar1" id="bar1")
    div(class="tab1" id="tab1" onclick="tab(1)")='General'
    div(class="tab2" id="tab2" onclick="tab(2)")='Display'
    div(class="tab2" id="tab3" onclick="tab(3)")='Privacy/Security'
    div(class="tab2" id="tab4" onclick="tab(4)")='Account'
  div(class="leaderboardTop")
    div(class="settings" id="theme")='Default Theme:'
  form(action="themeSetLight" method="POST" style="float: left")
    button(class="lightBox")='Standard Light'
  form(action="themeSetDark" method="POST" style="float: left")
    button(class="darkBox")='Standard Dark'

  script.
      if (document.getElementById("darkmode").innerHTML == "true") {
        document.getElementById('bar1').style.backgroundColor = "#23272A";
        document.getElementById('bar1').style.borderColor = "#2c3236";
        document.getElementById('tab1').style.borderColor = "#2c3236";
        document.getElementById('tab2').style.borderColor = "#2c3236";
        document.getElementById('tab3').style.borderColor = "#2c3236";
        document.getElementById('tab4').style.borderColor = "#2c3236";
        document.getElementById('tab1').style.color = "#99AAB5";
        document.getElementById('tab2').style.color = "#99AAB5";
        document.getElementById('tab3').style.color = "#99AAB5";
        document.getElementById('tab4').style.color = "#99AAB5";
        document.getElementById('theme').style.color = "#99AAB5";
      }
      
      
      
      
      
